body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxNzA1MDFfNDEg/MDAxNDkzNjI0OTkwNDc2.vki_EP8NuVAaWQAl_62p3itf6h11dGlPNF6gk6ysuMAg.zvApGFgIQQY_Q46ll9sKVdHs9XoyUIYCbptcGQSlW3Qg.PNG.designpress2016/2.png?type=w800");
  }
  