body {
  font-family: 'Marvel', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vote-icon {
  display: flex;
  width: 33%;
}

.vote-icon img {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.questioncount{
  text-align: center;
  font-weight: bold;
  color: Black !important;
  background-color: #ffff7F
}
.policyminju{
  @import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
  font-family: 'Cute Font', cursive;
  font-size: x-large;
  position:relative;
  display: inline-block;
  width: 400px;
  background:#B2CCFF;
  width:300px;
  max-width: 100%;
  text-align: center;
  padding: 12px;
  color:black;
}

.policyminju:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:0 16px 16px 0; 
  border-style:solid;
  border-color: #FFFFFF #FFFFFF #0054FF #0054FF; 
  background: #0054FF; 
  display:block; width:0;   
}

.policygookhim{
  @import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
  font-family: 'Dokdo', cursive;
  font-size: x-large;
  position:relative;
  display: inline-block;
  width: 400px;
  background:#eb6e58;
  width:300px;
  max-width: 100%;
  text-align: center;
  padding: 12px;
  color:black;
}

.policygookhim:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-width:0 16px 16px 0; 
  border-style:solid;
  border-color: #FFFFFF #FFFFFF #ff0000 #ff0000; 
  background: #ff0000; 
  display:block; width:0;   
}


.votemain {
  padding: 2rem;
  border-radius: 0px;
  /* background: white; */
  background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxNzA1MDFfNDEg/MDAxNDkzNjI0OTkwNDc2.vki_EP8NuVAaWQAl_62p3itf6h11dGlPNF6gk6ysuMAg.zvApGFgIQQY_Q46ll9sKVdHs9XoyUIYCbptcGQSlW3Qg.PNG.designpress2016/2.png?type=w800');
  background-size: 150%;
  background-repeat: no-repeat;
  background-color: rgba( 255, 255, 255, 0.2 );
}
.maintitle {
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
  font-family: 'Black Han Sans', sans-serif;
  border-color: rgb(118, 253, 27); background-color:rgba(255, 214, 29, 0.808);

}

.container {
  max-height: 100vh;
  width: 100vw;
  padding: 0;
  border-radius: 0;
}

.results-wrapper {
  padding-bottom: 2em;
}

.park-color {
  background-color: #7AAFD6;
}

.oh-color {
  background-color: #7B160D;
}

.park2-color {
  background-color: #5D328D;
}

.label {
  font-size: 1em;
}